.sideBarRow {
  display: flex;
  align-items: center;
  padding: 10px;
  cursor: pointer;
  transition: all ease-in-out 0.2s;
}
.sideBarRow:hover {
  background: lightgray;
  border-radius: 10px;
}
.sideBarRow h4 {
  margin-left: 20px;
  font-weight: 600;
}
.sideBarRow svg {
  color: #2e81f4;
}
